apiVersion: v1
kind: ConfigMap
metadata:
  name: api-bp-server-sidecar-config
  namespace: prod-jae
data:
  HSM_HOST: "3.80.50.14"
  HSM_PORT: "3000"
  SERVER_PORT: "8090"
  SERVER_CONFIG: "PROD"
  REDIS_PORT: "6379"
  SERVER_DEBUG: "false"
  SERVER_LOCATION: "HSM_CLOUD_SC"
